{% extends 'admin/base.html.twig' %}

{% block title %}Family{% endblock %}

{% block body %}

    {# Js controller test  #}
    {# <h1 data-controller="trash"></h1> #}

{# category #}
<div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 pr-10 lg:px-8">
    <div class="align-middle rounded-tl-lg rounded-tr-lg inline-block w-full py-4 overflow-hidden bg-neutral-800 shadow-lg px-12">
        <div class="flex justify-between">
            <h1 class="text-3xl text-neutral-100 font-bold">Liste des familles</h1>
            <a href="{{path('admin.family.add')}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg">nouvelle famille</a>
        </div>
    </div>

    <div class="align-middle inline-block min-w-full shadow overflow-hidden bg-neutral-800 shadow-dashboard px-8 pt-3 rounded-bl-lg rounded-br-lg">
        <table class="min-w-full">
            <thead>
                <tr>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-neutral-100 tracking-wider">ID</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-neutral-100 tracking-wider">Nom</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-neutral-100 tracking-wider">last update</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-neutral-100 tracking-wider">categorie</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-neutral-100 tracking-wider">marque</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300"></th>
                </tr>
            </thead>
            <tbody class="bg-neutral-800">
                {% for family in famillies %}
                    <tr>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                            <div class="flex items-center">
                                <div>
                                    <div class="text-sm leading-5 text-gray-600">#{{family.id}}</div>
                                </div>
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">{{family.name}}</td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">{{family.updatedAt|date('H:i d/m/Y', 'Europe/Paris')}}</td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">{{family.familyCategory.name}}</td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">{{family.brand.name}}</td>
                        <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-500 text-sm leading-5">
                            <a href="{{ path('admin.family.edit', {"id" : family.id }) }}" 
                                class="px-5 py-2 border-blue-500 border text-neutral-100 rounded transition duration-300 hover:bg-blue-700 hover:text-white focus:outline-none">Modifier</a>
                            <a href="{{ path('admin.family.delete', {"id" : family.id }) }}" 
                                    class="px-5 py-2 border-red-500 border text-neutral-100 rounded transition duration-300 hover:bg-red-700 hover:text-white focus:outline-none">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
