{% extends 'admin/base.html.twig' %}

{% block title %}marques{% endblock %}

{% block body %}

    {# Js controller test  #}
    {# <h1 data-controller="trash"></h1> #}

    <a href="{{path('admin.brand.categories.add')}}">ajouter catégories</a>
    <a href="{{path('admin.brands.add')}}">ajouter marques</a>


    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>category</th>
                <th>link</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            {% for brand in brands %}
                <tr>
                    <td>{{brand.id}}</td>
                    <td>
                        <a href="{{ path('admin.brands.show', {"id" : brand.id }) }}">{{brand.name}}</a>
                    </td>
                    <td>{{brand.category}}</td>
                    <td>{{brand.links}}</td>
                    <td>
                        <a href="{{ path('admin.brands.edit', {"id" : brand.id }) }}">edit</a>
                        <a href="{{ path('admin.brands.delete', {"id" : brand.id }) }}">delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{category.id}}</td>
                    <td>
                        <a href="{{ path('admin.brand.categories.show', {"id" : category.id }) }}">{{category.name}}</a>
                    </td>
                    <td>
                        <a href="{{ path('admin.brands.edit', {"id" : category.id }) }}">edit</a>
                        <a href="{{ path('admin.brand.categories.delete', {"id" : category.id }) }}">delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
