<div class="min-w-fit">
    
    	<div class="sidebar inline-block p-4 bg-gray-600" :class="{'hide-nav': sidebarOpen}">
		<div class="sidebar__head">
			
		</div>
		

        <ul>
            <li><a href="{{path('admin.home')}}">Dashboard</a></li>
            <li><a href="{{path('admin.category.home')}}">Category</a></li>
            <li><a href="{{path('admin.marque.home')}}">Brand</a></li>
            <li><a href="{{path('admin.family.home')}}">Familles</a></li>
            <li><a href="{#{path('admin.user.home')}#}">Users</a></li>
            <li><a href="{{path('admin.tag.home')}}">Tags</a></li>
        </ul>

		
	</div>

</div>