{% extends 'Admin/base.html.twig' %}

{% block body %}
                <section class="p-6 sm:p-5">
                        {{ form_start(form) }}
                                <div class="flex">
                                        <div class="flex-auto px-2">
                                                {{ form_row(form.name) }}
                                        </div>
                                        <div class="flex-auto px-2">
                                              {{ form_row(form.category) }}
                                        </div>
                                        <div class="flex-auto px-2">
                                                {{ form_row(form.thumbnailFile) }}
                                        </div>
                                </div>
                        {{ form_end(form) }}
                </section>
{% endblock %}
