{% extends 'Admin/base.html.twig' %}

{% block title %}Hello AdminTagController!{% endblock %}

{% block body %}
    <a href="{{path('admin.tag.create')}}">add tag</a>
    {% for tag in tags %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
    <tbody>
        <tr>
            <td>{{ tag.id }}</td>
            <td>{{ tag.name }}</td>
            <td style="margin : 20px; background-color=#{{tag.color}}"></td>
            <td>
                <a href="{{ path('admin.tag.edit', {'id': tag.id}) }}">edit</a>
                <form action="{{ path('admin.tag.delete', {'id': tag.id}) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-sm btn-danger">Supprimer</button>
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
