{% extends 'User/UserBase.html.twig' %}

{% block content %}

<!-- Main Content -->
        <div class="grid grid-cols-3 md:grid-cols-3 gap-4">
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h2 class="text-xl font-bold mb-4">Informations Personnelles</h2>
                <p>Nom: {{ user.lastName }}</p>
                <p>Prénom: {{ user.firstName }}</p>
                <p>Email: {{ user.email }}</p>
            </div>

            <div class="bg-white p-6 rounded-lg shadow-md">
                <h2 class="text-xl font-bold mb-4">Activité</h2>
                <p>Dernière connexion: {{ user.lastActivity|date('d/m/Y H:i') }}</p>
                <p>Membre depuis: {{ user.createdAt|date('d/m/Y') }}</p>
                <p>Nombre d'articles: {{ user.currentCartCount }}</p>
            </div>

            <div class="bg-white p-6 rounded-lg shadow-md">
                <h2 class="text-xl font-bold mb-4">Statistiques</h2>
                <p>Familles collectées: {{ user.familyCount }}</p>
                <p>Familles créées: {{ user.createdFamilyCount }}</p>
                <p>Coins: {{ user.coins ?? 0 }}</p>
            </div>
        </div>
{% endblock %}